* {
    box-sizing: border-box;
}
body {margin:0;}

.navbar {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar ul {

    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00979d;
}

#logo{
    float: left;
    height: 42px;
    margin: 2px;
    margin-left: 3%;
}

.navbar .leftBar {
    float: left;
    
}

.navbar .rightBar{
    float: right;
    
}

.navbar li:last-child {
    border-right: none;
}

.navbar li a, .dropbtn{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) , .dropdown:hover .dropbtn  {
    background-color: #7fcbcd;
    
}


.column {
    float: left;
    padding: 10px;
}
.column.side {
    width: 10%;
}

.column.middle {
    width: 80%;
}

.content{
    margin-top: 50px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.column.middle h1{
    margin-left: 5px;
    margin-right: 5px;
}


.column.middle h2{
    margin-left: 5px;
    margin-right: 5px;
}

.column.middle p{
    margin-left: 5px;
    margin-right: 5px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 240px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    /* width:200px; */
    height:150px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

#logout{
    display: none; 
}


li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}